*{ 
    margin: 0;
    padding: 0;
}

/* HEADER */

.wrapper{
    width: 100%;
    margin: auto;
}

header{
   
    display: flex;
    position: relative;
}

.nav-area{
    
    list-style: none;
    display:block;
    
}
    
.nav-area li{
    
    display: inline-block;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
   
   
         
}

.nav-area li a{

    color: #b03bcf;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
    /* display: flex; */
    text-decoration: none;
    text-transform: none;
    margin-top: 10%;
    padding:30px 85px;

    
}

.nav-area li a:hover{
    background:#dc022b;
    color:beige;
   
}

.logo img{
    width: 200px;
    height: 200px;
    float: left;
  
}

/* HOME PAGE */

h1 {
    text-align: center;
    font-weight: bold;
    color: #dc022b;
}


h3{
    color:#451253;
    text-align: center;
}  


.highlight1-word-color{
    color: #b03bcf;
    font-weight: bold;
}


.highlight1-word-color{
color:#b03bcf;
font-weight: bold;
}

.highlight-word-color{
    color:#dc022b;
    font-weight: bold;
} 


img{
    width: auto;
    height: auto;
    /* max-width: 500px; */
    vertical-align: middle;
    padding-left: 20px;
    border-radius: 20px;
   
}

.wrapper{
    padding:0% 15px;
    display: flex;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    justify-content: center;
    gap: 5rem;
    width:80%;
    
    
}

.intro{
   /* flex: 1; */
   /* padding:15px; */
   /* margin-right: 10%; */
   font-size: larger;
   width:50%;
}

/*FOOTER*/

.footercontainer{
    /* justify-content:baseline; */
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    height: 210px; 
    color: white;
    align-content: space-between;
    background-color:#dc022b;
}

.social-icon{
    display:flex;
    justify-content:left;
    
    
}

.social-icon a{
    text-decoration: none;
    padding: 10px;
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 50%;
}

.social-icon a i{
    font-size: 2em;
    color: black;
    opacity: 0.9; 
}

/* Hover Effects on Social Media*/
.social-icon a:hover{
    background-color: black;
    transition: 0.5s;
}


.social-icon a:hover i{
    color: whitesmoke;
    transition: 0.5s;

}

.footernav{
    margin: 30px 0;

}

.footernav ul{
    display: flex;
    justify-content:center;
    list-style-type: none;
}

.footernav ul li a{
    color: white;
    font-weight: bold;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: .05s;

}

.footernave ul li a:hover{
    opacity: 1;
}

.footerbottom{
    background-color:#dc022b;
    padding: 20px;
    text-align: center;
    color: white;

}

.footerbottom p{
    color: white;
}


 
/*Contact Page*/


section{
    padding: 40px 15%;
}

 
.contact{
    background-color: black;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display:flex;
    align-items: center;
}

.image{
     
    max-width: 100%;
    display: flex;
    /* align-items: left; */
    /* width: 100%; */
    border-radius: 20px;
    
}

.contact-image{
    max-width: 100%;
    /* width: 720; */
    height: auto;
    border-radius: 10px;
     
}

.contact-form h1{
    font-size: 80px;
    margin-bottom: 20px;
    color: #dc022b;
    text-align: center;

}

span{
    color: white;
}

.contact-form p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;

}

.contact-form form{
    position:relative;
    
}

.contact-form form input,
form textarea{
    width: 50%;
    padding: 17px;
    border: none;
    outline: none;
    background-color: whitesmoke;
    color: black;
    /* font-display: black; */
    font-size: 1.1rem;
    border-radius: 10px;
    margin-bottom: 0.7rem;

}

.contact-form textarea{
    resize: none;
    height: 200px;
    /* font-display: black; */
    
}


.contact-form form .button{
    display:flex;
    background:#b03bcf;
    font-size: large;
    text-transform: uppercase;
    font-weight: 400;
    border: 2px solid transparent;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    width: 200px;
    transition: ease .20s;
}

/* FOOTER */

.footercontainer{
    /* justify-content:baseline; */
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    height: 210px; 
    color: white;
    align-content: space-between;
    background-color:#dc022b;
}

.social-icon{
    display:flex;
    justify-content:left;
    
    
}

.social-icon a{
    text-decoration: none;
    padding: 10px;
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 50%;
}

.social-icon a i{
    font-size: 2em;
    color: black;
    opacity: 0.9; 
}

/* Hover Effects on Social Media*/
.social-icon a:hover{
    background-color: black;
    transition: 0.5s;
}


.social-icon a:hover i{
    color: whitesmoke;
    transition: 0.5s;

}

.footernav{
    margin: 30px 0;

}

.footernav ul{
    display: flex;
    justify-content:center;
    list-style-type: none;
}

.footernav ul li a{
    color: white;
    font-weight: bold;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: .05s;

}

.footernave ul li a:hover{
    opacity: 1;
}

.footerbottom{
    background-color:#dc022b;
    padding: 20px;
    text-align: center;
    color: white;

}

.footerbottom p{
    color: white;
}


/* ABOUT PAGE */

/* HEADER */

.wrapper{
    width: 100%;
    margin: auto;
}

header{
   
    display: flex;
    position: relative;
}

.nav-area{
    
    list-style: none;
    display:block;
    
}
    
.nav-area li{
    
    display: inline-block;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
   
   
         
}

.nav-area li a{

    color: #b03bcf;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
    /* display: flex; */
    text-decoration: none;
    text-transform: none;
    margin-top: 10%;
    padding:30px 85px;

    
}

.nav-area li a:hover{
    background:#dc022b;
    color:beige;
   
}

.logo img{
    width: 200px;
    height: 200px;
    float: left;
}

/* PAGE CONTENT */

h1 {
    text-align: center;
    font-weight: bold;
    color: #dc022b;
}

#container{
     
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    max-width: fit-content;
    background-color: black;
}

.image{
    width: 600px;
    height: 600px;

   
}

 .paragraph1{
    float: left;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    width: auto;
    padding-left: 25px;
    line-height: 2;
    
}


.paragraph2{
    float: right;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    width:auto;
    padding-right: 25px;
    line-height: 2;
   
}

/* SERVICES PAGE */

.container1{
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background: linear-gradient(to right bottom, black, gray);
    
}

h2{
    text-align: center;
    padding-top: 10px;
    color: #dc022b;font-size: 50px;
}

.table{
    width: 300px;
    height: 430px;
    border: 4px solid silver;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    text-align: center;
    transition: 0.2s;
    color: whitesmoke;
}

.table h1, .table h2, .table p{
    margin-bottom: 30px;
}

.table:hover{
    border: none;
    box-shadow: #b03bcf;
}

.table button{
    padding: 10px 40px;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: 0.1s;
    font-size: 20px;
}


.table1 button{
    background-color: #dc022b;
    color: whitesmoke
}

.table2 button{
    background-color: #b03bcf;
    color: whitesmoke
}

.table3 button{
    background-color: #dc022b;
    color: whitesmoke;
}

.table button:hover{
    opacity: 0.8;
}

h1{
    color: #dc022b;
}
ul{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}


/* BLOG */

.iframe {
    width: 560px;
    height: 315px;


}
.container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: black;
    height: 100vh;
    width: 100%;
}

 .container div{
    width: 100px;
    height: 200px;
    /* margin: 100px; */
    justify-content: space-between;
    text-align: center;
    row-gap: 84px;
    
 }

 
    
h4{
    color: whitesmoke;
    text-align: center;
}
    
    


    



 



/* FOOTER */

.footercontainer{
    /* justify-content:baseline; */
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    height: 210px; 
    color: white;
    align-content: space-between;
    background-color:#dc022b;
}

.social-icon{
    display:flex;
    justify-content:left;
    
    
}

.social-icon a{
    text-decoration: none;
    padding: 10px;
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 50%;
}

.social-icon a i{
    font-size: 2em;
    color: black;
    opacity: 0.9; 
}

/* Hover Effects on Social Media*/
.social-icon a:hover{
    background-color: black;
    transition: 0.5s;
}


.social-icon a:hover i{
    color: whitesmoke;
    transition: 0.5s;

}

.footernav{
    margin: 30px 0;

}

.footernav ul{
    display: flex;
    justify-content:center;
    list-style-type: none;
}

.footernav ul li a{
    color: white;
    font-weight: bold;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: .05s;

}

.footernave ul li a:hover{
    opacity: 1;
}

.footerbottom{
    background-color:#dc022b;
    padding: 20px;
    text-align: center;
    color: white;

}

.footerbottom p{
    color: white;
}




